html {
  height: 150%;
  width: 100%;
  body {
    background-image: linear-gradient(to bottom, #FFBE88, #F4D797, #DA7F7D);
}
  /* Start of principle screen.*/

body {
  p {
    /* About me paragraph font */
    font-family:Source Sans Pro;
    font-size: 20px;
  }
  margin: 5;
  padding: 5;

}
  /* main screen nav-link*/
  header {
    text-align: center;
    font-family: Source Sans Pro;
    color: #DA7F7D;
    font-weight: bolder;
  }








  .container {
    margin-top: 80px;
    justify-content: center;
    background-color: #ffffff; 
    border-radius: 15px;   
  }








  

.btn {
  display: inline-block;
  margin-top: 2rem;
  padding: 0.75rem 1.5rem;
  background-color: #ffffff;
  color: #DA7F7D;
  text-decoration: none;
  font-weight: bold;
  border-radius: 8px;
}
  /* End of principle screen.*/

/*Add logo HERE: */












  /* Start of actual order screen.*/

/* responsible for icons on the top right hand side.*/
.row3 {
  display: flex;
  flex-direction: row-reverse;
  gap: 30px;
  margin: 25px;
  align-items: flex-start;
}

.row {
  display: flex;
  justify-content: center; /* center the days in each row */
  margin: 10px 0;
}
  /* search mag icon */

.searchBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
/* bar its self */
.bar {
  background-color: #ffffff;
  color: #EBB58A;
  padding: 15px 150px;
  margin: 25px;
  border-radius: 50px;
  font-weight: bold;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}
  body {
    font-family: sans-serif;
    text-align: center;
    background-color: #e0f7e9;
    padding: 20px;
  }
  #items {
    display: flex;
    justify-content: center;
    gap: 90px;
    margin-bottom: 20px;
    flex-wrap: wrap; 
  }

  .item {
    border: 5px solid #FFF2BD;
    padding: 10px;
    background-color: white;
    cursor: pointer;
    width: 140px;
    text-align: center;
    border-radius: 10px
  }

  .item img {
    width: 120px;
    height: 100px;
    object-fit: contain;
  }

  .item.selected {
    border: 5px solid #ffc677;
  }

  .CartNum {
    position: absolute;
    top: 132px;
    margin-right: 34px;
    right: 16px;
  }

  .rounded-image {
    border-radius: 10px; /* Adjust the value for desired roundness */
  }

  .UserPic {
    height: 230px;
    width: 230px;
    border: 8px solid #F4D797;
    border-radius: 50%;
    display: inline-block;
  }
  .info {
      border: 3px solid #F4D797; 
      padding: 8px; 
  }
  .layoutReceipt{
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
  }
  .ChecOutMargin {
    margin: 15px;
    border: 5px dashed #F4D797;
  }











}
